<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type='text/css' href="/static/css/default.css">
  </head>
  <body>
    <div class="background">
      <div class="header" style="background-color:;">
        <h1>PasteBin</h1>
      </div>
      <div class="context">
        <h2>结果</h2>
          <p class="paragraph">{{text}}</p>
      </div>
      <div class="footer">
        <p class="copyright">©2022 鲁潇潇</p>
      </div>
    </div>
  </body>
</html>
